{% load static %}
{% load custom_tags%}
{% load humanize%}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<!-- test oks -->
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script> -->

    <script src="{% static 'js/jquery_3.5.1.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
 
    






</head>
<style>

  .lnk{
    color:white;
    font-size: 1.8rem;
  }
  
  div.white {
      color:white;
  }
  /* .lingk{

    color:blue;
  } */
  .lingk-a{

color:white;
}
/* a:link {
color: #0099CC;
background-color: transparent;
text-decoration: none;
} */
ul {
  list-style-type: none;
}

   
  </style>
  {% block css_style %}
  {%  endblock css_style %}

<body>


    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h4 class="text-white">COMMUNITY FAIR EXCHANGE</h4>

 <br/>
 <br/>     <div style ="display: block;"> 
          
            {% if member_info.id > 0 %} 
            <a id ="payment-login-lnk-hidden"  hidden href="/payment/1/0/" ></a> 
           <ul> 
            <li><a id ="main-venture"  href="{% url 'fx:create_update_venture_url' member_info.id 0 'VENTURE'  %}">VENTURE </a>
            </li>
            <li class="lingk"> <a id ="payment-login-lnk"  style="color:blue" >PAYMENT ACCOUNT</a></li>
                <li class="lingk-a"> WALLET ACCOUNT
                  <ul>
                    <li> <a id ="main-venture-wallet-deposit" class="lingk"  href="{% url 'fx:finance_venture_url' 'wallet'  member_info.id 0  'D'  %}">DEPOSIT</a> </li>
                    <li> <a id ="main-venture-wallet-withdraw"  class="lingk" href="{% url 'fx:finance_venture_url' 'wallet'  member_info.id 0  'W'  %}">WITHDRAW</a></li>
                  </ul>
                </li>
                <li class="lingk-a">SAVING'S ACCOUNT
                   <ul>
                    <li> <a id ="main-venture-saving-deposit" class="lingk"   href="{% url 'fx:finance_venture_url' 'saving'  member_info.id 0  'D'  %}">DEPOSIT</a> </li>
                    <li> <a id ="main-venture-saving-withdraw" class="lingk" href="{% url 'fx:finance_venture_url' 'saving'  member_info.id 0  'W'  %}">WITHDRAW</a></li>
                    </ul>
                </li>
           
            </ul>
            

            {% endif%}
          </div>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            
          </button>
          


         <!-- ----------------------------End  search icon ------------------------------- -->

       



          {% if user.is_authenticated and user.is_staff %}

          <!-- ----------------------------  search icon ------------------------------- -->
          <div id="search_div" class ="white"   data-toggle=" tooltip" data-placement="top"
          title="Search member from the database" >

          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
          </div>


         <div class="white"  style="display: inline-flex;">
            
          <a style="padding-right: .5rem;" > {{ user.username|upper}}</a>
         
          <!-- ------------------------- user profile ( login,profile,dashboard)------------------- -->
         <div id ="user_profile_div" data-toggle=" tooltip" data-placement="top"
         title="show logout menu"  >
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
              </svg>
            </div> 
             
          {%else%}  



          <!-- -----------------------  log out ---------------------- -->
          <a  class="lnk"  data-toggle=" tooltip" data-placement="top"
          title="show login form" href="{% url 'fx:venture_login' %}">
          <svg class="white" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor"  >
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
          </svg>
        </a>
        
        </div>


          {% endif %}
        </nav>
      </div>




<!-- Athenticate user by logging in -->

<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">
      <div class="modal-content">
          <div class="modal-body">
              <button data-dismiss="modal" class="close">&times;</button>
              <h4>Authenticate Members</h4>
              <div class="scanner">
                  <video id="preview"></video></div>
              <div id="authenticate-alert" class="alert alert-danger" role="alert" style="display:none">
                  Invalid username or password
              </div>
              <form>
                  <br>
                  <input type="text" name="customer_id" id="customer_id" class="customer-username form-control"
                      placeholder="Username" />
                  <input type="password" id="customer-password" name="password" class="password form-control"
                      placeholder="password" />
                  <br>

                  <a class="btn login" id="btn-agree">AGREE</a>
                  <a class="btn login" id="btn-auth-hide" type="cancel"> HIDE</a>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- ---------------  search  ---------------- -->

<div id="modal-search-member" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
aria-labelledby="myLargeModalLabel" aria-hidden="false">
<div class="modal-dialog modal-xl">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Search Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <div class="container-alert-not-found-search-member alert alert-danger alert-dismissible fade show"
                role="alert" style="display:none">
                <strong>Message:</strong> <span class="alert-not-found-search-member">danger</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container-alert-found-search-member alert alert-success alert-dismissible fade show"
                role="alert" style="display:none">
                <strong>Message:</strong> <span class="alert-found-search-member">success</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="form-group" style="display:block">

                <label for="recipient-name" class="col-form-label">Type name or username:</label>
                <input type="text" id="txt-member-partial-payment" required minlength="3"></input>
            </div>
            <!-- <div class="scanner">
              <video id="previewsss"></video></div>
            <br> -->

            <!-- xxxxtable_search_context.user_preference.search_member:{{xxxxxxxtable_search_context.user_preference.search_member}} -->
            ------- venture_main, code-name:{{table_search_context.code_name}}
            {% include 'fx/member/templates/search_table.html' with code='member-partial-payment' preference=table_search_context.user_preference.search_member search_receiver=table_search_context %}

            
            <!-- search_receiver instead of member -->
            <div class="modal-footer">
                <button type="search button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input class="btn-member-partial-payment-submit btn btn-success" type="submit" name="submit"
                    value="Search now" />
            </div>
        </div>




    </div>
</div>
</div>


<!-- ----------------- end search ------------------- -->


 <!-- ---------------  User profile  ---------------- -->


 <div class="profile-modal modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
 aria-labelledby="mySmallModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-sm">
     <div class="modal-content">
         <div class="list-group">
             <button type="button" class="list-group-item list-group-item-action active">
                 Welcome, {{venture.staff}}
             </button>

             {% if user.is_authenticated and user.is_staff %}
            
             <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action">Change Password
             </a>
             <a href="{% url 'fx:logouts_url' %}" class="list-group-item list-group-item-action">Log out</a>
             {%else %}

             <a class="btn btn-info" href="{% url 'fx:login' %}">Log In</a>
             {% endif %}

         </div>
     </div>
 </div>
</div>

<!-- ---------------  end user profile  ---------------- -->

      {% block sub_content%}
      ..
      
      {% endblock sub_content%}
    
</body>


<script>
 $("#user_profile_div",).click(function () {

$('.profile-modal').modal('toggle');
});

$("#search_div").click(function () {
              console.log("search....");
                
                $('#modal-search-member').modal('toggle');

            });


$("#payment-login-lnk").click(function () {

console.log("payment-login-lnk");
$("#login").modal('show');
  videoCode = 1;

});




// $("#finance-lnk").click(function (event) {
      
//         event.preventDefault();
//         event.stopPropagation();
//         console.log("-----------");
      
//     });
</script>





</html>