{% load humanize %}
{% load app_filters %}
{% load custom_tags%}

<table class="table table-hover table-bordered" id="table-{{code}}" width="350px">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">DATE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">BALANCE</th>
            <th colspan="2" scope="col ">ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% getbalance data_source.member_id True data_source.model as balance %}
        {% for obj in data_source.data %}
        <tr>
            <th> {{ forloop.counter }}</th>
            <td class="left">
                <a class='btn btn-sm btn-light '> {{obj.date_entered|get_due_date_string}}</a>
            </td>
            <td class="left">{{obj.description}}</td>

            {% ifequal obj.transaction_type 'D' %}
            <td class='cashin'> {{obj.credit|floatformat:2|intcomma}}
            </td>
            {% else %}
            <td class='cashout'> {{obj.debit|floatformat:2|intcomma}}
            </td>
            {% endifequal %}

            {% if forloop.last %}
            {% if obj.balance  %}
            <td class=" balance">
                {{obj.balance|floatformat:2|intcomma}}
            </td>

            {% else %}

            <td class="balance">
                {{obj.credit|floatformat:2|intcomma}}
            </td>
            {% endif %}

            {% else  %}



            <td class="balance">
                {%if forloop.first%}
                <span style="font-weight: bolder;color: cornflowerblue;">
                    {{obj.balance|floatformat:2|intcomma}}</span>
                {%else%}
                {{obj.balance|floatformat:2|intcomma}}
                {%endif%}
            </td>
            {%endif%}
            {% ifequal obj.code 'R' %}

            {%else%}
            {% ifequal  obj.code 'T' %}

            {%else%}
            <td class='center-btn'>
                <a class='btn btn-sm btn-outline-info'
                    href="{% url 'fx:create_update_member_finance_url' 'wallet'  data_source.member_id obj.id  obj.transaction_type %}">EDIT</a>
            </td>
            {%endifequal%}

            {%endifequal%}
        </tr>

        {% endfor %}


    </tbody>
    <tfoot>
        <tr>
            <td colspan=" 3">
            </td>
            <td>

                <span class="col cashin" data-toggle=" tooltip" data-placement="top"
                    title="{%if data_source.total_tips %} {{data_source.total_tips.Owe}}  {%else%} Total Cash In {%endif%}"
                    style="color: #218838;">
                    {{balance.transaction_short.cash_in}}</span> :
                <span class="col cashout" data-toggle=" tooltip" data-placement="top"
                    title="{%if data_source.total_tips %} {{data_source.total_tips.Paid}}  {%else%} Total Cash Out {%endif%}"
                    style="color: red;">
                    {{balance.transaction_short.cash_out}}</span> :
                <span class="col balance " data-toggle=" tooltip" data-placement="top"
                    title="{%if data_source.total_tips %} {{data_source.total_tips.Balance}}  {%else%} Remaining Balance {%endif%}"
                    style="color: blue;">{{balance.balance}}</span>

            </td>


        </tr>
    </tfoot>

</TABLE>
<!-- table setting:{{data_source.get_nav_settings}} -->
{% include 'fx/e_wallet/preference_modal.html' with code=code Options=data_source.get_nav_settings preference=preference  show=True %}

<script>


    $(document).ready(function () {
        var code = "{{code}}";
        var data = { 'model': '{{data_source.model}}', 'filter_field': '{{data_source.filter_field}}', 'filter_field_value': '{{data_source.filter_field_value}}' };


        function get_date(date_entered) {

            const today = moment();
            var date = moment();


            if (moment().year() == moment(date_entered).year()) {
                days = parseInt(today.diff(date_entered, 'days'));
                if (days < 8) {
                    if (days == 0) {
                        date = "Today";
                    } else if (days == 1) {
                        date = "Yesterday";
                    } else { date = days + " days ago" }
                } else {
                    date = moment(date_entered).format("MMM Do");
                }

            } else {
                date = moment(date_entered).format("MMM Do YY");
            }
            return date;
        }

        function fill_table(item, row_ctr) {
            amount = 0;
            message = ""
            if (item.transaction_type == "W") {
                message = "cashout"
                amount = item.debit
            } else {
                message = "cashin"
                amount = item.credit;
            }
            var date = get_date(item.date);
            var member_id = '{{data_source.member_id}}';
            var edit_btn = ""
            var info_btn = ""
            //REG_TRANSACTION,TRANSFER,GROCERY,LOAN =(0,1,2,5)
            info_btn = "<button data-id='" + item.id + "' onclick='show_info(this)' value='" + item.source_id + "' name='show_info' data-category='" + item.category + "' id='{{data_source.model}}' class='show_info-btn btn btn-sm btn-info'>" + "{{data_source.button_info}}" + "</button>";
            if (item.category == 0  && "{{data_source.category.regular_transaction}}") {

                edit_btn = "<a class='btn btn-sm btn-primary' data-category='" + item.category + "'' href='/create_update_member_finance/{{code}}/" + member_id + "/" + item.id + "/" + item.transaction_type + "/' >{{data_source.button_edit}}</a>";
            } else if (item.category == 6 && "{{data_source.category.loan_payment}}") {
                 
                    edit_btn = "<a class='btn btn-sm btn-primary' data-category='" + item.category + "'' href='/create_update_payment/" + member_id + "/" + item.id + "/' >{{data_source.button_edit}}</a>";
              
            }

            var markup = "<tr> <th>" + row_ctr + "</th><td > <a    class='dates btn btn-sm btn-light'>" + date + "</a></td><td class='left' >" + item.description + "</td><td class ='" + message + "'>" + amount + "</td><td class='balance'>" + (item.balance === null ? item.credit : item.balance) + "</td><td> " + info_btn + "</td><td>" + edit_btn + "</td></tr>";

            $("#table-{{code}} tbody").append(markup);
        }

        function loadData() {
            $(".loading").toggleClass("hidden");
            var total_no_of_row = parseInt($("#selected_total_no_of_rows-{{code}} option:selected").text()); // $("#total_no_of_row").val();
            var last_row = $("#last-row-{{code}}").val();

            if (isNaN(total_no_of_row)) {

                var total_rows = parseInt($("#total_rows-{{code}}").text());
                total_no_of_row = total_rows - last_row;
            }

            data['total_no_of_row'] = total_no_of_row;
            data['last_row'] = last_row;
            console.log("...data @ table.html:", data);

            $.ajax({
                type: 'GET',
                url: "{% url 'fx:finance_load_more_url' %}",
                data: data,
                dataType: "json",
                success: function (response) {

                    //console.log("respsonse", response["data"]);
                    row_ctr = parseInt(last_row)
                    response["data"].forEach(function (item) {
                        //console.log("....item:",item);
                        row_ctr = row_ctr + 1;
                        fill_table(item, row_ctr);

                    });
                    $("#last-row-{{code}}").html(row_ctr)
                    $("#last-row-{{code}}").prop("value", row_ctr);
                    if (response['last_page']) {
                        $('#load-more-{{code}}').hide();
                    }


                },
                error: function (response) {
                    //  $(".loading").toggleClass("hidden");
                    console.log("error reach:");
                    console.log(response);
                }
            })

            $(".loading").toggleClass("hidden");
        }

        $('#load-more-{{code}}').click(function () {
            console.log("...load more button clicked");
            $('#load_more-{{code}}').prop("disabled", true);

            loadData();

            $('#load_more-{{code}}').prop("disabled", false);

        });

        //i remove the user preference ajax here


    });
</script>