.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 12px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 701px;
  margin: 12px auto 26px 211px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 660px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 338px;
  margin: 0 -16px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 400;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 400;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 400;
  font-size: 0.875rem;
}

.u-section-1 .u-label-4 {
  font-weight: 400;
  font-size: 0.875rem;
}

.u-section-1 .u-label-5 {
  font-weight: 400;
  font-size: 0.875rem;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -40px -16px 0 144px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 451px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-form-2 {
  height: 334px;
  margin: 0 -16px 0 -1px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-weight: 700;
  margin: -15px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 209px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-form-2 {
    width: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 151px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -41px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 217px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 466px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 23px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 243px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 0 60px 0 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 60px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -67px auto 0 112px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -61px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -64px 111px 0 auto;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -65px auto 0 446px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 12px 451px 0 2px;
}

.u-section-2 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -22px 329px 0 107px;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 74px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -22px 96px 0 320px;
}

.u-section-2 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -22px 0 0 446px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 220px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-8 {
  width: 361px;
  margin: 157px auto -22px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 197px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 369px;
}

.u-section-2 .u-icon-7 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-8 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px 369px 0 auto;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 12px 633px 0 355px;
}

.u-section-2 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 93px;
  margin: -44px auto 0;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -44px 355px 0 633px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 20px;
    margin-left: 194px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 346px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -11px;
    margin-right: 353px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 279px;
    margin-left: 57px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 46px;
    margin-left: 270px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 46px;
    margin-left: 270px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 20px;
    margin-left: 369px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 369px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 533px;
    margin-left: 255px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 255px;
    margin-left: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 20px;
    margin-left: 194px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -75px;
    margin-right: 243px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 243px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 206px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 206px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 423px;
    margin-left: 145px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 145px;
    margin-left: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -2020px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 243px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: 243px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 243px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 353px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 75px;
    margin-left: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -64px;
    margin-left: 64px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -64px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -64px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -64px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -1732px;
    margin-right: 43px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 43px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 43px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 43px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 109px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-7 {
    margin-top: -64px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -64px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 228px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1125px;
  margin: 37px 0 37px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 356px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 854px 0 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -4px 614px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -59px auto 0;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 1.5rem;
  margin: -51px 785px 0 93px;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px 292px 0 586px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 29px auto 0 0;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -64px auto 0;
}

.u-section-3 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 1.5rem;
  margin: -51px 755px 0 93px;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px 292px 0 586px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 0;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -64px auto 0 0;
}

.u-section-3 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 1.5rem;
  margin: -51px 785px 0 93px;
}

.u-section-3 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 1.5rem;
  margin: -43px 173px 0 586px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 729px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 60px;
    margin-right: 489px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 39px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 199px;
    margin-left: 494px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 663px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -47px;
    margin-right: 199px;
    margin-left: 494px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -42px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 269px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 473px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 89px;
    margin-left: 384px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 443px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 89px;
    margin-left: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 329px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 89px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 333px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -181px;
    margin-right: 19px;
    margin-left: 314px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 17656px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -195px;
    margin-right: 303px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -123px;
    margin-right: 19px;
    margin-left: 314px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 76984px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 55px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 82px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 133px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 133px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -64px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -148px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 103px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 133px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -148px;
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 111px;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 197px;
  height: 197px;
  background-image: url("/static/img/image/logo1.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 166px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 956px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 756px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 536px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 156px;
  }
}