.u-section-1 .u-sheet-1 {
  min-height: 523px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 238px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 35px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 73px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 2px 215px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 7px 0 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -64px 107px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -64px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -64px auto 0 107px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -63px auto 0 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 3px 0 449px;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -22px 94px 0 325px;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -22px auto 0;
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -22px 311px 0 79px;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -22px 454px 0 8px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 238px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 0.75rem;
  margin: 176px auto -21px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 294px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 23px 118px 0 196px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -48px auto 0 105px;
}

.u-section-1 .u-form-1 {
  height: 77px;
  margin: 9px 11px 0 -11px;
}

.u-section-1 .u-label-1 {
  font-weight: 300;
}

.u-section-1 .u-label-2 {
  font-weight: 300;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px 379px 0 8px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -22px 11px 0 365px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 294px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 50px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: -45px auto 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 55px 155px 0 145px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -49px auto 0 50px;
}

.u-section-1 .u-icon-9 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 18px auto 0 50px;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: -55px 235px 0 145px;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 500px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 169px;
    margin-right: 0;
    margin-left: 208px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 115px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -242px;
    margin-left: 208px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 45px;
    margin-left: 208px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -257px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 2px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 75px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 261px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 362px;
    margin-left: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 242px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 94px;
    margin-left: 146px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 13px;
    margin-left: 52px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 410px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 73px;
    margin-right: 287px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-2 {
    width: 123px;
    height: 19px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 9px;
    margin-left: 276px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 242px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -96px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 105px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 185px;
    margin-left: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 362px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -148px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -148px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 1px;
    margin-left: 242px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 1px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 1px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 252px;
    margin-left: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 69px;
    margin-left: 91px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 177px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 7px;
    margin-left: 166px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 50px;
    margin-left: 86px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 20px;
    margin-left: 86px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
    margin-right: 130px;
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -150px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 120px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -8px;
    margin-right: auto;
    margin-left: 52px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 49px;
    margin-left: 52px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 12px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -103px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 149px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 149px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -30px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -64px;
    margin-right: 67px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -64px;
    margin-left: 67px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -64px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-bottom: -3px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 165px;
    margin-right: 1px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 1px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 1px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 24px;
    margin-right: 92px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 41px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -48px;
    margin-left: 47px;
  }

  .u-section-1 .u-form-1 {
    height: 203px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -45px;
    margin-right: auto;
    margin-left: 83px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 49px;
    margin-right: 0;
    margin-left: 83px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -45px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -58px;
    margin-right: 0;
    margin-left: 83px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 386px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 25px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 300px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 112px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 35px 206px 0 94px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 16px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -64px auto 0 556px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -45px -336px 0 636px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 51px 206px 0 94px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 16px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -64px auto 0 556px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -45px -337px 0 636px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 35px auto 0 16px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -45px 206px 0 94px;
}

.u-section-2 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 556px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -45px -382px 0 636px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 367px;
    margin-right: 530px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 725px;
    margin-right: 389px;
    margin-left: 132px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -734px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 20px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 342px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -308px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -92px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 267px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -361px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 539px;
    margin-right: 156px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -110px;
    margin-right: 156px;
    margin-left: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 450px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 518px;
    margin-right: 279px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -527px;
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 332px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 90px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 310px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 563px;
    margin-right: 161px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -572px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 90px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 335px;
    margin-right: 90px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 90px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 90px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 90px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 384px;
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -5px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -710px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -170px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -136px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -136px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: -4324px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 623px;
}

.u-section-3 .u-image-1 {
  width: 216px;
  height: 216px;
  background-image: url("/static/img/image/logo1.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 50px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  width: 242px;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 43px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  width: 749px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 18px auto 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  margin: 33px auto 43px;
  padding: 18px 43px 19px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 254px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 246px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 88px;
  margin: 23px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 72px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 40px 0;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  font-size: 2.25rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 428px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 59px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 9px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 63px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 172px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 0 31px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  width: 392px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 12px 451px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 338px;
  width: 538px;
  margin: -16px -14px 0;
}

.u-section-5 .u-input-1 {
  background-image: none;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-input-2 {
  background-image: none;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-input-3 {
  background-image: none;
}

.u-section-5 .u-input-4 {
  background-image: none;
}

.u-section-5 .u-input-5 {
  background-image: none;
}

.u-section-5 .u-form-group-6 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 351px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    width: 300px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 241px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-3 {
    margin-right: 41px;
  }
}